<h1>New Question</h1>

<div class="row">
	<div class="col-md-4">
		<p>Guidelines for Questions</p>
		<ul>
			<li>There are no dumb questions</li>
		</ul>
	</div>
	<div class="col-md-8">
		<% form_for @question do |i| %>
		<div class="form-group">
			<% i.label :title %>
			<% i.text_field :title, class: 'form-control', placeholder: "Enter Question Title" %>
		</div>
		<div class="form-group">
			<% i.label :body %>
			<% i.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter Question Body" %>
		</div>
		<div class="form-group">
			<% i.label :resolved %>
			<% i.check_box :resolved%>
		</div>
		<div class="form-group">
			<% i.submit "Save", class: 'btn btn-success' %>
		</div>
		<% end %>
	</div>
</div>